.gift-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #1976d2;
  color: white;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;      
  border-radius: 25px;           
  padding: 4px 10px;             
  height: 55px;                  
  border: 2px solid #1976d2;    
  width: 300px;                  
}

.search-bar .mat-mdc-form-field-flex {
  align-items: center !important;
}

.search-bar .mat-mdc-text-field-wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.search-bar input.mat-input-element {
  color: black;
}


.search-bar button.mat-icon-button {
  color: #1976d2;
}


/* Main Layout */
.content {
  display: flex;
  gap: 16px;
  padding: 16px;
}

/* Sidebar */
.sidebar {
  flex: 0 0 200px;
}

.user-info {
  margin-bottom: 1rem;
  font-weight: bold;
}

.filters h3 {
  margin-bottom: 0.5rem;
}

/* Cards Grid */
.gifts-container {
  display: flex;
  flex-wrap: wrap;      
  gap: 16px;            
  justify-content: flex-start; 
  padding: 16px;
}

.gift-card {
  flex: 1 1 250px; 
  max-width: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
